  <h1> Combine Series</h1>
  {{bacon = "111"}}
  <div class="row" style="margin-top:2em; font-family:Arial">
    <div class="col-md-6">
    <table width="100%" class="table table-striped">
      <tr>
        <th width="200px">Title</th><th>Unit</th><th>Date Range</th><th>Button</th>
      </tr>
      <tbody ng-repeat="metric in metrics">
        <tr>
          <td width="200px">{{metric.title}}</td>
          <td>{{metric.unit}} ({{metric.frequency}})</td>
          <td>{{ metric['min'] }} - {{ metric['max']}}</td>
          <td><button ng-click="drawMe(metric)">Draw</button> </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="col-md-5 md-offset-1">
    <div id="placeholder" ></div>
  </div>

