<h2>Home</h2>

<input type="text" data-bind="textInput: pattern, event: {keyup:updatePattern}">
<span data-bind="fadeVisible: busy_search" class="glyphicon glyphicon-flash" ></span>
<p><em ><span data-bind='text: canidate_count() '></span></em></p>

<script type="text/javascript">
</script>

<table class="table table-striped">
  <tr><th>Select</th><th style="width:70%">Title</th><th>Unit</th><th>Frequency</th><th>Line</th></tr>
	<tbody data-bind="foreach: canidates">
        <tr data-bind="css: id_class">
          <td><span data-bind="css: star_class, click:$parent.toggle_select"></span></td>
          <td data-bind="text:title"></td><td data-bind="text:unit"></td><td data-bind="text:frequency"></td><td data-bind=""> <span class="inlinesparkline"><span data-bind="click: $parent.sparkit">view graph</span></span></td>
	</tr>
	</tbody>
</table>
<span class="inlinesparkline"></span>
